<div cdkDropListGroup>
    <div class="example-container">
      <h2>To do</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="globalArray.todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of globalArray.todo" cdkDrag>{{item?.title}}</div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>In Progress</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="globalArray.inProgress"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of globalArray.inProgress" cdkDrag>{{item?.title}}</div>
      </div>
    </div>

    <div class="example-container">
        <h2>Testing</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="globalArray.testing"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of globalArray.testing" cdkDrag>{{item?.title}}</div>
        </div>
      </div>

      <div class="example-container">
        <h2>Done</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="globalArray.done"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of globalArray.done" cdkDrag>{{item?.title}}</div>
        </div>
      </div>
  </div>